* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.mp3 binary
*.wav binary
*.ogg binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary

package-lock.json linguist-generated=true
